@import "var.scss";

.pxm {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid $project-label-text-color;
  box-sizing: border-box;
  background-color: #e2e6e7;
}

.pxm-readonly-grid .pxm-pixel {
  cursor: inherit;
}

.pxm-line {
  display: flex;
}

.pxm-pixel:last-child {
  box-sizing: border-box;
}

.pxm-pixel {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  background-color: #e2e6e7;
}

.pxm-line:nth-child(odd) .pxm-pixel:nth-child(odd),
.pxm-line:nth-child(even) .pxm-pixel:nth-child(even) {
  background-color: #fff;
}