@import "var.scss";
@import "input.scss";
@import "button.scss";

.page {
  display: flex;
}

/*
*
* Tools bar
*
*/ 

.toolsbar {
  position: relative;
  z-index: 20;
  width: $tools-bar-width;
  height: 100vh;
  background-color: $primary-color;
}

.toolsbar button {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  box-sizing: border-box;
  color: $over-primary-text-color;
  transition: background-color 200ms ease;

  &:hover,
  &:focus {
    background-color: $tool-hover-color;
  }
}

.import-button {
  position: relative;

  input {
    position: absolute;
    top: -10px;
    right: -10px;
    visibility: hidden;
    width: 10px;
    height: 10px;
  }
}

/*
*
* Left sidebar, the
* the sidebar we can open on the left
* giving the account container
* or the chart container
*
*/

.left-sidebar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: $tools-bar-width;
  width: $chart-width;
  height: 100vh;
  padding: 40px 30px;
  box-sizing: border-box;
  background-color: $projects-bar-background-color;
  transform: translateX(-100%);
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  transition: transform 200ms ease, opacity 200ms ease-in-out;

  &.open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
  }
}

/*
*
* Account
*
*/

.login-form p {
  font-size: 0.9em;
  text-align: center;
}

.login-form input,
.login-form button {
  width: 100%;
  height: 50px;
}

.login-form input {
  margin-bottom: 25px;
}

/*
*
* Chart
*
*/

.container-chart,
.container-chart > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.chart-item span {
  display: block;
  width: 30px;
  min-width: 30px;
  color: $text-color;
  font-size: 0.9em;
}

.chart-item input[type="text"] {
  padding: 0 5px 0 10px;
  width: 80px;
  height: 40px;

  &.unvalid-color {
    border-color: red;
  }
}

.chart-item input[type="color"] {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 20px;
  
  &:focus {
    outline: 1px solid $outline-color;
  }
}

.chart-item button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.container-chart button[type="submit"] {
  margin: 25px 0;
  font-size: 0.85em;
}

/*
*
* Main and initial form
*
*/

main {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > form label {
  margin-bottom: 30px;
}

.label-new-name {
  max-width: 500px;
  width: 100%;
}

.label-width,
.label-height {
  max-width: 200px;
  width: 100%;
}

.formError {
  color: red;
  margin-top: 10px;
  max-width: 300px;
  font-size: 0.8em;
  display: block;
}

/*
*
* Projects bar
*
*/ 

// TODO: overflow-y:auto doesn't work as it hides the button to minimize the bar due to fixed position

.projects-bar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 200ms ease;
}

.projects-bar aside {
  background-color: $projects-bar-background-color;
  width: $projects-bar-maximum-size;
  height: inherit;
  padding: 40px 50px;
  box-sizing: border-box;
  overflow-y: auto;
}

.projects-bar.minimized {
  transform: translateX(90%);
}

.projects-bar > h2,
.left-sidebar > h2 {
  text-align: center;
  border-bottom: 1px solid $project-label-text-color;
  font-size: 1.4em;
  margin: 0 0 30px 0;
  padding-bottom: 30px;
}

.project span {
  color: $project-label-text-color;
  font-size: 0.9em;
}

.project-grid {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.add-project {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  color: $project-label-text-color;
  border: 2px dashed $project-label-text-color;
  transition: opacity 200ms ease;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:focus {
    border: 1px solid $outline-color;
  }
}

.remove-project-bar-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: -$projects-bar-remove-button-width;
  width: $projects-bar-remove-button-width;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: none;
  color: $project-label-text-color;
  background-color: $projects-bar-background-color;
  
  &:focus {
    outline: 1px solid $outline-color;
  }
}

.project {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;
  }
}

.project,
.add-project {
  margin-bottom: 20px;
}

.disabled-project,
.loading-project {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

/*
*
* Grid
*
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr minmax(50px, 100px);
  grid-template-rows: auto auto;
}

.grid-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $projects-bar-background-color;
}

.grid-sidebar button {
  background-color: #fff;
  border: 1px solid darken($projects-bar-background-color, 20%);
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  transition: background-color 200ms ease;

  &:hover,
  &:focus,
  &.enabled {
    background-color: darken($projects-bar-background-color, 5%);
  }

  &:focus {
    outline: 1px solid $outline-color;
  }
}

.grid-dimensions-settings {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid-dimensions-settings input {
  width: 100px;
  height: 45px;
  margin-left: 5px;
}

.grid-dimensions-settings button {
  width: 44px;
  height: 44px;
}

.projects-bar .project .pxm-line {
  width: 100%;
}

.projects-bar .project .pxm-pixel {
  width: 100%;
  height: 100%;
}
