$font-family: "Poppins", sans-serif;
$primary-color: #2D2D2D;
$text-color: #2D2D2D;
$over-primary-text-color: #fff;
$input-background-color: #F9F9F9;
$input-border: 1px solid #EEE;
$input-focused-border-color: #239FD4;
$outline-color: lighten($primary-color, 20%);
$tools-bar-width: 7vw;
$chart-width: 25vw;
$tool-hover-color: rgba(#F9F9F9, .1);
$projects-bar-background-color: rgba(#F9F9F9, .5);
$project-label-text-color: rgba($text-color, .5);
$projects-bar-maximum-size: 20vw;
$projects-bar-minimum-size: 2vw;
$projects-bar-remove-button-width: 25px;